body {
  background: linear-gradient(135deg, black,gray,gainsboro, black,gray,gainsboro, black,gray,gainsboro, black,gray,gainsboro);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

.form-container {
  background: linear-gradient(to bottom right, violet,indigo,blue,green,yellow,orange,red);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  color: #fff; /* White text to contrast with background */
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* White text to contrast with background */
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f5f7fa; /* Light background for input fields */
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  padding: 10px 20px;
  background-color: rgb(86, 82, 82);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: gainsboro;
}